<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mahavira.partner.inventory">

    <application>
        <activity android:name=".presentation.returnlist.ReturnListActivity" />
        <activity android:name=".presentation.returnform.ReturnFormActivity" />
    </application>

</manifest>